@page "/portfolio"
<section id="portfolio">
    <div class="container text-center">
        <SectionTitle Title="آثار ما را ببینید" Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است  ut labore et dolore magna aliqua."></SectionTitle>
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-button-set margin-bottom-30">
                    <a class="btn btn-default btn-xl btn-normal portfolio filter-active" href="#">همه</a>
                    <a class="btn btn-default btn-xl btn-normal portfolio" data-filter=".digital" href="#">دیجیتال</a>
                    <a class="btn btn-default btn-xl btn-normal portfolio" data-filter=".creative" href="#">خلاق</a>
                    <a class="btn btn-default btn-xl btn-normal portfolio" data-filter=".web-design" href="#">طراحی وب</a>
                    <a class="btn btn-default btn-xl btn-normal portfolio" data-filter=".mobile-app" href="#">اپلیکیشن</a>
                </div>
                <div class="grid" data-gutter="20" data-col="3">
                    <PortfolioItem ImgUrl="/company/images/portfolio/1.jpg" Title="صفحه فرود"
                                   Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ" DataTitle="Landing Page"></PortfolioItem>
                    <PortfolioItem ImgUrl="/company/images/portfolio/8.jpg" Title="طراحی فوق العاده"
                                   Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ" DataTitle="Awesome Design"></PortfolioItem>
                    <PortfolioItem ImgUrl="/company/images/portfolio/3.jpg" Title="کد نویسی تمیز"
                                   Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ" DataTitle="Code Clear"></PortfolioItem>
                    <PortfolioItem ImgUrl="/company/images/portfolio/10.jpg" Title="داشبورد کاربر"
                                   Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ" DataTitle="User Dashboard"></PortfolioItem>
                    <PortfolioItem ImgUrl="/company/images/portfolio/5.jpg" Title="وکتور"
                                   Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ" DataTitle="Vector Mask"></PortfolioItem>
                    <PortfolioItem ImgUrl="/company/images/portfolio/9.jpg" Title="ترافیک را بشکنید"
                                   Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ" DataTitle="Break Traffic"></PortfolioItem>
                    <PortfolioItem ImgUrl="/company/images/portfolio/7.jpg" Title="طراحی ماکت"
                                   Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ" DataTitle="Mockup Design"></PortfolioItem>
                    <PortfolioItem ImgUrl="/company/images/portfolio/4.jpg" Title="سرپرستی تیم"
                                   Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ" DataTitle="Team Lead"></PortfolioItem>
                    <PortfolioItem ImgUrl="/company/images/portfolio/6.jpg" Title="عکاسی"
                                   Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ" DataTitle="Phototgraphy"></PortfolioItem>

                </div>
            </div>
        </div>
    </div>
</section>
