<header id="home" class="full-height bg-img">
    @*<img src="/company/images/bg/main-demo.jpg" />*@
    <p>khfakhfaksh</p>
    @* <div class="container">
       <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="section-title">
                            <h1 class="section-title-divider animated zoomIn">طرح <span class="primary-color">مورد علاقه</span> شما</h1>
                            <p>راه اندازی بوت استرپ می تواند به شما در ایجاد وب سایت های بهتر با استفاده از چارچوب CSS بوت استرپ کمک کند! فقط قالب خود را بارگیری کرده و بدون هیچ رشته ای شروع به کار کنید!</p>
                        </div>
                        <a class="btn btn-default btn-xl" href="#about">اطلاعات بیشتر</a> <!-- THEME DEFAULT BUTTON -->
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</header>
