<div class="row text-center ">
    <div class="col-sm-12">
        <div class="section-title">
            <h2 class="section-title-divider primary-divider">@Title</h2>
            <p>
               @Description
            </p>
        </div>
    </div>
</div>
