<section class="padding-bottom-50" id="service">
    <div class="container text-center">
        <SectionTitle Title="خدمات ما" Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است"></SectionTitle>
        <div class="row service-box-wrap">
            <ServiceItem Title="طراحی وب" Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است"></ServiceItem>
            <ServiceItem Title="توسعه اپلیکیشن" Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است"></ServiceItem>
            <ServiceItem Title="دیجیتال مارکتینگ" Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است"></ServiceItem>
            <ServiceItem Title="برندینگ" Description="لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است"></ServiceItem>
        </div>
    </div>
</section>
