<section class="section-parallax padding-bottom-50" data-src="/company/images/bg/3.jpg" data-stellar-background-ratio="0.5">
    <span class="overlay-section-bg primary-section-bg"></span>
    <div class="container section-typo-white">
        <div class="row text-center">
            <CounterItem Number="9894" Text="مشتریان خوشحال"></CounterItem>
            <CounterItem Number="400" Text="پروژه های تکمیل شده"></CounterItem>
            <CounterItem Number="73" Text="برنده جوایز"></CounterItem>
            <CounterItem Number="580" Text="نقد های کاربران"></CounterItem>
        </div>
    </div>
</section>