<div class="col-md-3 col-sm-6">
    <div class="counter-wrap">
        <span class="counter-icon">
            <i class="flaticon-user"></i>
        </span>
        <h3 class="counter" data-counter=@Number>
            @Number
        </h3>
        <span class="counter-text">
            @Text
        </span>
    </div>
</div>