<div class="col-sm-4">
    <div class="media feature-box">
        <div class="media-left">
            <span class="feature-icon">
                <i class="fa fa-cubes"></i>
            </span>
        </div>
        <div class="media-body">
            <h4 class="media-heading">@Title</h4>
            <p>@Description </p>
        </div>
    </div>
</div>
