@page "/"
@using SorooshHamrah.Company.UI.Blogs.Components
@using SorooshHamrah.Company.UI.Contact.Pages
@using SorooshHamrah.Company.UI.Counter.Components
@using SorooshHamrah.Company.UI.Features.Components
@using SorooshHamrah.Company.UI.Features.Pages
@using SorooshHamrah.Company.UI.Portfolio.Components
@using SorooshHamrah.Company.UI.Portfolio.Pages
@using SorooshHamrah.Company.UI.Seperator.Components
@using SorooshHamrah.Company.UI.Services.Components
@using SorooshHamrah.Company.UI.Shared
@using SorooshHamrah.Company.UI.SlideShows.Components

<div class="main-wrap">

    <SlideShow></SlideShow>
    <Separator ImgUrl="/company/images/bg/4.jpg" Content="برای شروع با استارک آماده اید؟" BtnName="آماده شدن"></Separator>
    <Counter></Counter>
    <Separator ImgUrl="/company/images/bg/2.jpg" Content="ما آماده آمدن هستیم" BtnName="شروع کنید!"></Separator>
    <Blog></Blog>
    <Separator ImgUrl="/company/images/bg/3.jpg" Content="ما آماده آمدن هستیم" BtnName="شروع کنید!"></Separator>

</div>