<div class="portfolio-inner">
    <h4><a href="#" class="link-white">@Title</a></h4>
    <p class="portfolio-description">@Description </p>
    <p class="portfolio-popup"><a class="link-white" href=@ImgUrl data-lightbox="portfolio" data-title=@DataTitle><span class="fa fa-arrows-alt"></span></a></p>
</div>