<div class="portfolio-item element-item digital web-design">
    <img alt="" src=@ImgUrl class="img-responsive" />
    <div class="portfolio-content">
        <div class="portfolio-content-inner">
            <InnerPortfolio DataTitle=@DataTitle Title=@Title Description=@Description ImgUrl=@ImgUrl></InnerPortfolio>
        </div>
    </div>
</div>