<div class="col-md-4">
    <div class="blog-wrap">
        <div class="blog-image">
            <img alt="" src=@ImgUrl title=@ImgTitle class="img-responsive" />
        </div>
        <div class="blog-data">
            <div class="blog-meta">
                <ul class="list-inline">
                    <li><a href="#" title="Author" class="author">مدیر</a></li>
                    <li><a href="#" title="Date" class="date">5 شهریور 1400</a></li>
                    <li><a href="#" title="Comments" class="comment">4</a></li>
                </ul>
            </div>
            <div class="blog-title">
                <h3><a href="#" title="Title Here">@Title </a></h3>
            </div>
            <div class="blog-content">
                @Content
            </div>
            <a class="btn btn-default btn-xl btn-normal margin-top-20" href="#">بیشتر بخوانید</a>
        </div>
    </div>
</div>