<div class="col-md-3 col-sm-6 service-box-col">
    <figure>
        <div class="service-image">
            <i class="flaticon-screen-1"></i>
        </div>
    </figure>
    <h4 class="service-title title-bordered">طراحی وب</h4>
    <p class="service-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
</div>
